body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange_color {
    color: orange;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    font-weight: 900;
    background-color: orange;
    padding: 8px 35px;
    border-radius: 5px;
    color: white;
    background-image: linear-gradient(orange, tomato);
}

.top-banner {
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
    margin-bottom: 150px;
}

.dream-big {
    display: flex;

}

.mid {
    width: 50%;

}

.midright {
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.midleft {
    width: 110%;
}

.lower-section {
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    padding-bottom: 100px;
}

.low {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px grey;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    border-radius: 10px;
}

#low-left {
    border-left: 5px solid royalblue;
}

#low-right {
    border-left: 5px solid tomato;
}